<div class="d-flex justify-content-center mt-5 ">  
    <form class="bg-primary p-4 bg-opacity-10 w-25 border rounded" >
        <fieldset>
            <legend class="fs-3 text-black-50">Información Básica</legend>
            <div class="mb-3">
                <label for="disabledSelect" class="form-label" style="color: rgb(0, 64, 138);">Nombres</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="" value="{{dataClient.primerNombre}} {{dataClient.segundoNombre}}" disabled>
            </div>
            <div class="mb-3">
                <label for="disabledSelect" class="form-label" style="color: rgb(0, 64, 138);">Apellidos</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder=""  value="{{dataClient.primerApellido}} {{dataClient.segundoApellido}}" disabled>
            </div>
            <div class="mb-3">
                <label for="disabledSelect" class="form-label" style="color: rgb(0, 64, 138);">Telefono</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder=""  value="{{dataClient.telefono}}" disabled>
            </div>
            <div class="mb-3">
                <label for="disabledSelect" class="form-label" style="color: rgb(0, 64, 138);">Dirección</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder=""  value="{{dataClient.direccion}}" disabled>
            </div>
            <div class="mb-3">
                <label for="disabledSelect" class="form-label" style="color: rgb(0, 64, 138);">Ciudad de residencia</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="" value="{{dataClient.ciudadDeResidencia}}" disabled>
            </div>
        </fieldset>
    </form>
    
</div>